form{margin:auto;margin-top:20px;width:500px}
fieldset{padding:10px}
legend{width:100;padding:10px;color:#A00;background:#DDD}
.in{padding:10px;width:400px;margin-top:5px;margin-bottom:10px}
.lab{margin-left:100px;}
.sub{margin-left:50px;margin:10px}
.rs{margin-left:50px}
hr{border:1px solid#AAA}